<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="modal-add-cart-success" class="modal fade" id="modal-add-cart-success" tabindex="-1" aria-labelledby="modal-add-cart-success" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa-solid fa-check"></i>
                <div>
                    <span>Thêm vào giỏ hàng</span>
                    <br/>
                    <span>thành công </span>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-add-cart-item d-flex mb-3">
                    <img th:src="@{~/images/product1.webp}" alt="item" class="me-3 w-25"/>
                    <div class="fs-4">
                        <span class="text-black" id="modal-add-cart-success-name">name item</span>
                        <span class="d-block color-blue-light" id="modal-add-cart-success-price">52.000đ</span>
                    </div>
                </div>
                <div class="modal-add-cart-actions">
                    <a data-bs-dismiss="modal" aria-label="Close" class="btn btn-outline-dark d-block w-100 mb-2">Tiếp tục mua hàng</a>
                    <a href="/checkout" class="btn btn-primary d-block w-100">Tiến hành thanh toán >></a>
                </div>
            </div>
        </div>
    </div>
</div>

</html>