<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<!-- Modal  -->
<div th:fragment="modal-cart" class="modal fade" id="cart-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-check"></i> Sản phẩm <a id="cart-modal-name-item" href="#">Arduino ATTINY85 USB Digispark</a> đã được thêm vào giỏ hàng</h5>
                <p> <a  href="/cart">Giỏ hàng của bạn </a> <b>(<span id="cart-modal-total-item">5</span> sản phẩm)</b></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="cart-modal-head">
                    <div>Sản phẩm</div>
                    <div>Đơn giá</div>
                    <div>Số lượng</div>
                    <div>Thành tiền</div>
                </div>
                <div class="cart-modal-table">

                </div>
                <div class="cart-modal-footer mb-2">
                    <div class="row align-items-center">
                        <div class="col-6 my-2">
                            Giao hàng trên toàn quốc
                        </div>
                        <div class="col-6 my-2 fs-4 text-end">
                            <b class="text-black"> Thành tiền: <span class="color-blue-light" id="cart-modal-total-price" >1.458.000₫ </span></b>
                        </div>
                        <div class="col-6 my-2">
                            <a data-bs-dismiss="modal" aria-label="Close" href="#" class="color-blue-light fw-bold"><i class="me-2  fa-solid fa-play"></i>Tiếp tục mua hàng</a>
                        </div>
                        <div class="col-6 my-2 text-end">
                            <a href="/checkout" class="btn btn-primary"> <i class="me-2 fa-solid fa-cart-shopping"></i> Tiến hành đặt hàng</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Modal  -->
</html>