<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="index :: index_head"></div>
    <!--  css  -->
    <title>Cart</title>
<!--        <link rel="stylesheet" th:href="@{~/css/components/products.css}"/>-->
        <link rel="stylesheet" th:href="@{~/css/pages/cart.css}"/>
</head>
<section th:replace="index :: index_body">
    <section class="text-black pb-4" id="cart-page" th:fragment="content_index (type)" th:remove="${type}">
        <div class="container px-md-0 ">
            <div style="overflow-x: auto">
                <table class="mb-3 bg-white table-cart-page table-bordered table-secondary w-100">
                    <thead>
                    <tr class="bg-secondary text-white">
                        <th>
                            Ảnh sản phẩm
                        </th>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Đơn giá
                        </th>
                        <th>
                            Số lượng
                        </th>
                        <th>
                            Thành tiền
                        </th>
                        <th>
                            Xóa
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a href="#">
                                <img th:src="@{images/arduino-mega2560-r3.webp}" alt="product"/>
                            </a>
                        </td>
                        <td class="table-cart-page-name">
                            <a href="#">
                                name
                            </a>
                        </td>
                        <td class="table-cart-page-price">
                            <span>1.200 đ</span>
                        </td>
                        <td>
                            <input value="1"/>
                        </td>
                        <td class="table-cart-page-price">
                            12.000d
                        </td>
                        <td>
                            <button class="btn">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">
                                <img th:src="@{images/arduino-mega2560-r3.webp}" alt="product"/>
                            </a>
                        </td>
                        <td class="table-cart-page-name">
                            <a href="#">
                                name
                            </a>
                        </td>
                        <td class="table-cart-page-price">
                            <span>1.200 đ</span>
                        </td>
                        <td>
                            <input value="1"/>
                        </td>
                        <td class="table-cart-page-price">
                            12.000d
                        </td>
                        <td>
                            <button class="btn">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <a href="#">
                                <img th:src="@{images/arduino-mega2560-r3.webp}" alt="product"/>
                            </a>
                        </td>
                        <td class="table-cart-page-name">
                            <a href="#">
                                name
                            </a>
                        </td>
                        <td class="table-cart-page-price">
                            <span>1.200 đ</span>
                        </td>
                        <td>
                            <input value="1"/>
                        </td>
                        <td class="table-cart-page-price">
                            12.000d
                        </td>
                        <td>
                            <button class="btn">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

            <div class="d-flex justify-content-end">
                <div class="d-flex flex-column" style="width: 400px">
                    <div class="d-flex mb-3 w-100 bg-white w-100" >
                        <div class="border border-secondary px-2 py-3 w-100">Tổng giá sản phẩm</div>
                        <div class="border border-secondary w-100 text-end cart-page-total-price px-2 py-3 color-blue-light fw-bold">
                            1.802.000₫
                        </div>
                    </div>
                    <div>
                        <a href="/checkout" class="btn btn-primary w-100 py-3">Tiến hành đặt hàng</a>
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>

<th:block th:insert="~{index :: body/div}"></th:block>
<th:block th:insert="~{index :: body/script}"></th:block>
<script th:src="@{~/js/pages/cart.js}"></script>

</html>