<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="index :: index_head"></div>
    <!--  css  -->
    <title>Category Product</title>
    <link rel="stylesheet" th:href="@{~/css/components/products.css}"/>
    <link rel="stylesheet" th:href="@{~/css/pages/category-product.css}"/>
</head>
<body>
    <section th:replace="index :: index_body">
        <!--  category content  -->
        <section id="category-product" th:fragment="content_index (type)" th:remove="${type}">
            <div class="container px-0 ">
                <div class="category-product-name text-black pb-4" >
                    <a href="">Trang chủ</a>
                    <i class="fs-7 mx-2 fa-solid fa-angles-right"></i>
                    <span class="color-blue-light">Ten loai linh kien</span>
                </div>
            </div>
            <div th:replace="layouts/home-layout-content :: home-layout-content">
                <div th:replace="layouts/sidebar :: sidebar" th:fragment="sidebar"></div>
                <div class="category-product-content" th:fragment="content">
                    <div class="category-product-top fs-4  py-3 d-flex justify-content-between text-black align-items-center">
                        <h4 class="fw-bold m-0 fs-3">Name</h4>
                        <div class="category-product-filter d-flex align-items-center">
                            <div class="">
                                <span>Sắp xếp</span>
                                <select>
                                    <option> Mặc định </option>
                                    <option> Gía tăng dần</option>
                                    <option> Gía giảm dần</option>
                                    <option> Từ A - Z</option>
                                    <option> Từ Z - A</option>
                                    <option> Cũ đến mới </option>
                                    <option> Mới đến cũ </option>
                                    </select>
                            </div>
                            <div class="ms-4 ">
                                <a href="#" class="color-blue-light">
                                    <i class="fa fa-th" aria-hidden="true"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-th-list" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="category-product-bottom">
                        <div class="home-main-right-article mb-4">
                            <div class="row">
                                <div class="col-12 mt-3">
                                    <div class="home-main-product-style-2 d-flex bg-white">
                                        <a href="#">
                                            <img th:src="@{~/images/product1.webp}" alt="product" src="">
                                        </a>
                                        <div class="px-1 py-4">
                                            <a class="d-block fs-4 fw-bold" href="#">
                                                <p class="m-0">Máy hàn điểm chuyên nghiệp</p>
                                            </a>
                                            <div class="color-blue-light fs-5 fw-bold mb-2">
                                                <span>700.000đ</span>
                                                <span class="old-price">700.000đ</span>
                                            </div>
                                            <button class="d-none d-lg-block" data-bs-toggle="modal" data-bs-target="#cart-modal">
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                Mua Ngay
                                            </button>
                                            <button class="d-block d-lg-none" data-bs-toggle="modal" data-bs-target="#modal-add-cart-success">
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                Mua Ngay
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="home-main-product-style-2 d-flex bg-white">
                                        <a href="#">
                                            <img th:src="@{~/images/product1.webp}" alt="product" src="">
                                        </a>
                                        <div class="px-1 py-4">
                                            <a class="d-block fs-4 fw-bold" href="#">
                                                <p class="m-0">Máy hàn điểm chuyên nghiệp</p>
                                            </a>
                                            <div class="color-blue-light fs-5 fw-bold mb-2">
                                                <span>700.000đ</span>
                                                <span class="old-price">700.000đ</span>
                                            </div>
                                            <button class="d-none d-lg-block" data-bs-toggle="modal" data-bs-target="#cart-modal">
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                Mua Ngay
                                            </button>
                                            <button class="d-block d-lg-none" data-bs-toggle="modal" data-bs-target="#modal-add-cart-success">
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                Mua Ngay
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="home-main-product-style-2 d-flex bg-white">
                                        <a href="#">
                                            <img th:src="@{~/images/product1.webp}" alt="product" src="">
                                        </a>
                                        <div class="px-1 py-4">
                                            <a class="d-block fs-4 fw-bold" href="#">
                                                <p class="m-0">Máy hàn điểm chuyên nghiệp</p>
                                            </a>
                                            <div class="color-blue-light fs-5 fw-bold mb-2">
                                                <span>700.000đ</span>
                                                <span class="old-price">700.000đ</span>
                                            </div>
                                            <button class="d-none d-lg-block" data-bs-toggle="modal" data-bs-target="#cart-modal">
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                Mua Ngay
                                            </button>
                                            <button class="d-block d-lg-none" data-bs-toggle="modal" data-bs-target="#modal-add-cart-success">
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                Mua Ngay
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="home-main-product-style-2 d-flex bg-white">
                                        <a href="#">
                                            <img th:src="@{~/images/product1.webp}" alt="product" src="">
                                        </a>
                                        <div class="px-1 py-4">
                                            <a class="d-block fs-4 fw-bold" href="#">
                                                <p class="m-0">Máy hàn điểm chuyên nghiệp</p>
                                            </a>
                                            <div class="color-blue-light fs-5 fw-bold mb-2">
                                                <span>700.000đ</span>
                                                <span class="old-price">700.000đ</span>
                                            </div>
                                            <button class="d-none d-lg-block" data-bs-toggle="modal" data-bs-target="#cart-modal">
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                Mua Ngay
                                            </button>
                                            <button class="d-block d-lg-none" data-bs-toggle="modal" data-bs-target="#modal-add-cart-success">
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                Mua Ngay
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3">
                                    <div class="home-main-product-style-2 d-flex bg-white">
                                        <a href="#">
                                            <img th:src="@{~/images/product1.webp}" alt="product" src="">
                                        </a>
                                        <div class="px-1 py-4">
                                            <a class="d-block fs-4 fw-bold" href="#">
                                                <p class="m-0">Máy hàn điểm chuyên nghiệp</p>
                                            </a>
                                            <div class="color-blue-light fs-5 fw-bold mb-2">
                                                <span>700.000đ</span>
                                                <span class="old-price">700.000đ</span>
                                            </div>
                                            <button class="d-none d-lg-block" data-bs-toggle="modal" data-bs-target="#cart-modal">
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                Mua Ngay
                                            </button>
                                            <button class="d-block d-lg-none" data-bs-toggle="modal" data-bs-target="#modal-add-cart-success">
                                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                                Mua Ngay
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
<!--                            <div class="row bg-white">-->
<!--                                <div class="col-6 col-md-4 col-xl-3">-->
<!--                                    <div class="home-main-product">-->
<!--                                        <a href="">-->
<!--                                            <img th:src="@{~/images/product1.webp}" alt="product" src="">-->
<!--                                            <p>-->
<!--                                                Máy hàn điểm chuyên nghiệp-->
<!--                                            </p>-->
<!--                                        </a>-->
<!--                                        <div class="home-main-product-price">-->
<!--                                            <span>700.000đ</span>-->
<!--                                            <span class="old-price">700.000đ</span>-->
<!--                                        </div>-->
<!--                                        <button class="d-none d-lg-block    " data-bs-toggle="modal" data-bs-target="#cart-modal">-->
<!--                                            <i class="fa-sharp fa-solid fa-cart-shopping"></i>-->
<!--                                            Mua Ngay-->
<!--                                        </button>-->
<!--                                        <button class="d-block d-lg-none" data-bs-toggle="modal" data-bs-target="#modal-add-cart-success">-->
<!--                                            <i class="fa-sharp fa-solid fa-cart-shopping"></i>-->
<!--                                            Mua Ngay-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-6 col-md-4 col-xl-3">-->
<!--                                    <div class="home-main-product">-->
<!--                                        <a href="">-->
<!--                                            <img th:src="@{~/images/product1.webp}" alt="product" src="">-->
<!--                                            <p>-->
<!--                                                Máy hàn điểm chuyên nghiệp-->
<!--                                            </p>-->
<!--                                        </a>-->
<!--                                        <div class="home-main-product-price">-->
<!--                                            <span>700.000đ</span>-->
<!--                                            <span class="old-price">700.000đ</span>-->
<!--                                        </div>-->
<!--                                        <button class="d-none d-lg-block    " data-bs-toggle="modal" data-bs-target="#cart-modal">-->
<!--                                            <i class="fa-sharp fa-solid fa-cart-shopping"></i>-->
<!--                                            Mua Ngay-->
<!--                                        </button>-->
<!--                                        <button class="d-block d-lg-none" data-bs-toggle="modal" data-bs-target="#modal-add-cart-success">-->
<!--                                            <i class="fa-sharp fa-solid fa-cart-shopping"></i>-->
<!--                                            Mua Ngay-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-6 col-md-4 col-xl-3">-->
<!--                                    <div class="home-main-product">-->
<!--                                        <a href="">-->
<!--                                            <img th:src="@{~/images/product1.webp}" alt="product" src="">-->
<!--                                            <p>-->
<!--                                                Máy hàn điểm chuyên nghiệp-->
<!--                                            </p>-->
<!--                                        </a>-->
<!--                                        <div class="home-main-product-price">-->
<!--                                            <span>700.000đ</span>-->
<!--                                            <span class="old-price">700.000đ</span>-->
<!--                                        </div>-->
<!--                                        <button class="d-none d-lg-block    " data-bs-toggle="modal" data-bs-target="#cart-modal">-->
<!--                                            <i class="fa-sharp fa-solid fa-cart-shopping"></i>-->
<!--                                            Mua Ngay-->
<!--                                        </button>-->
<!--                                        <button class="d-block d-lg-none" data-bs-toggle="modal" data-bs-target="#modal-add-cart-success">-->
<!--                                            <i class="fa-sharp fa-solid fa-cart-shopping"></i>-->
<!--                                            Mua Ngay-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-6 col-md-4 col-xl-3">-->
<!--                                    <div class="home-main-product">-->
<!--                                        <a href="">-->
<!--                                            <img th:src="@{~/images/product1.webp}" alt="product" src="">-->
<!--                                            <p>-->
<!--                                                Máy hàn điểm chuyên nghiệp-->
<!--                                            </p>-->
<!--                                        </a>-->
<!--                                        <div class="home-main-product-price">-->
<!--                                            <span>700.000đ</span>-->
<!--                                            <span class="old-price">700.000đ</span>-->
<!--                                        </div>-->
<!--                                        <button class="d-none d-lg-block    " data-bs-toggle="modal" data-bs-target="#cart-modal">-->
<!--                                            <i class="fa-sharp fa-solid fa-cart-shopping"></i>-->
<!--                                            Mua Ngay-->
<!--                                        </button>-->
<!--                                        <button class="d-block d-lg-none" data-bs-toggle="modal" data-bs-target="#modal-add-cart-success">-->
<!--                                            <i class="fa-sharp fa-solid fa-cart-shopping"></i>-->
<!--                                            Mua Ngay-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-6 col-md-4 col-xl-3">-->
<!--                                    <div class="home-main-product">-->
<!--                                        <a href="">-->
<!--                                            <img th:src="@{~/images/product1.webp}" alt="product" src="">-->
<!--                                            <p>-->
<!--                                                Máy hàn điểm chuyên nghiệp-->
<!--                                            </p>-->
<!--                                        </a>-->
<!--                                        <div class="home-main-product-price">-->
<!--                                            <span>700.000đ</span>-->
<!--                                            <span class="old-price">700.000đ</span>-->
<!--                                        </div>-->
<!--                                        <button class="d-none d-lg-block    " data-bs-toggle="modal" data-bs-target="#cart-modal">-->
<!--                                            <i class="fa-sharp fa-solid fa-cart-shopping"></i>-->
<!--                                            Mua Ngay-->
<!--                                        </button>-->
<!--                                        <button class="d-block d-lg-none" data-bs-toggle="modal" data-bs-target="#modal-add-cart-success">-->
<!--                                            <i class="fa-sharp fa-solid fa-cart-shopping"></i>-->
<!--                                            Mua Ngay-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-6 col-md-4 col-xl-3">-->
<!--                                    <div class="home-main-product">-->
<!--                                        <a href="">-->
<!--                                            <img th:src="@{~/images/product1.webp}" alt="product" src="">-->
<!--                                            <p>-->
<!--                                                Máy hàn điểm chuyên nghiệp-->
<!--                                            </p>-->
<!--                                        </a>-->
<!--                                        <div class="home-main-product-price">-->
<!--                                            <span>700.000đ</span>-->
<!--                                            <span class="old-price">700.000đ</span>-->
<!--                                        </div>-->
<!--                                        <button class="d-none d-lg-block    " data-bs-toggle="modal" data-bs-target="#cart-modal">-->
<!--                                            <i class="fa-sharp fa-solid fa-cart-shopping"></i>-->
<!--                                            Mua Ngay-->
<!--                                        </button>-->
<!--                                        <button class="d-block d-lg-none" data-bs-toggle="modal" data-bs-target="#modal-add-cart-success">-->
<!--                                            <i class="fa-sharp fa-solid fa-cart-shopping"></i>-->
<!--                                            Mua Ngay-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                        <nav aria-label="Page navigation" class="my-4">
                            <ul class="pagination justify-content-end">
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </section>
        <!--  category content  -->
    </section>
    <div th:replace="layouts/modal-cart :: modal-cart"></div>
    <div th:replace="layouts/modal-add-cart-success :: modal-add-cart-success"></div>
    <th:block th:insert="~{index :: body/div}"></th:block>
    <th:block th:insert="~{index :: body/script}"></th:block>
    <!-- script    -->
    <!--    <script th:src="@{~/js/pages/home.js}"></script>-->
</body>
</html>