<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="index :: index_head"></div>
    <!--  css  -->
    <title th:utext="${searchName}">Detail product</title>
    <link rel="stylesheet" th:href="@{~/css/components/products.css}"/>
    <link rel="stylesheet" th:href="@{~/css/pages/detail-product.css}"/>
</head>

<body>
<section th:replace="index :: index_body">
    <section id="detail-product" th:fragment="content_index (type)" th:remove="${type}">
        <div th:replace="layouts/home-layout-content :: home-layout-content">
            <div th:replace="layouts/sidebar :: sidebar(${typeProducts})" th:fragment="sidebar"></div>
            <div class="detail-product-content" th:fragment="content">
                <div class="row mb-5">
                    <div class="col-12 col-md-5 mb-4">
                        <img class="w-100" th:src="@{'images/' + ${detailProduct.image}}" alt="item">
                    </div>
                    <div class="col-12 col-md-7 mb-4">
                        <h4 th:utext="${detailProduct.name}" class="fw-bold">Pin sạc dự phòng 10000mAh (Sạc nhanh 2 chiều trong suốt)</h4>
                        <span th:utext="${#numbers.formatDecimal(detailProduct.price,0,'POINT',0,'POINT') + ' đ'}" class="fs-4 color-blue-light mb-3 fw-bold d-block">380.000đ</span>
                        <span class="d-block text-black mb-2">còn hàng</span>
                        <b class="text-black">Mô tả:</b>
                        <p th:utext="${detailProduct.description}" class="border-bottom pb-3">
                            - Pin sạc dự phòng trong suốt sạc nhanh 2 chiều Power Delivery PD 22.5w 10000mAh, hỗ trợ hầu hết các chuẩn sạc nhanh hiện nay, công suất đầu ra lên đến 22.5w, có thể sạc cho hầu...
                        </p>
                        <div class="d-flex align-items-center mb-3">
                            <label class="me-4">
                                Số lượng
                            </label>
                            <input min="1" value="1" type="number" id="typeNumber" class="w-25 form-control" />
                        </div>
                        <a href="#" class="d-block d-md-inline btn btn-danger">
                            Thêm vào giỏ hàng
                        </a>
                        <a href="#" class="btn btn-success d-block d-md-none mt-3">
                            Gọi Điện
                        </a>
                    </div>
                    <div class="col-12 mb-4 detail-product-info">
                        <div class="detail-product-info-title d-block d-md-none fw-bold py-3 px-5 bg-white d-block d-md-inline-block text-center border-bottom">
                            <b class="color-blue-light text-uppercase ">Thông tin sản phẩm</b>
                        </div>
                        <div class="detail-product-info-title d-none fw-bold py-3 px-5 bg-white d-md-inline-block text-center ">
                            <b class="color-blue-light text-uppercase ">Thông tin sản phẩm</b>
                        </div>
                        <div class="bg-white p-4 " th:utext="${detailProduct.description}">
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-12">
                        <h4 class="fw-bold text-uppercase mb-3 text-black">Sản phẩm liên quan</h4>
                        <div class="home-main-right-article mb-4">
                            <div class="row bg-white detail-product-slick">
                                <div th:each="product : ${relatedProducts}" class="col-6 col-md-4 col-xl-3">
                                    <div th:classappend="'home-main-product-' + ${product.id}" class="home-main-product">
                                        <a th:href="${product.slug}">
                                            <img th:src="@{'images/' + ${product.image}}" alt="product" src="">
                                            <p th:utext="${product.name}">
                                                Máy hàn điểm chuyên nghiệp
                                            </p>
                                        </a>
                                        <div class="home-main-product-price">
                                            <span th:data-price="${product.price}" th:utext="${#numbers.formatDecimal(product.price,0,'POINT',0,'POINT') + ' đ'}">700.000đ</span>
                                            <span class="old-price d-none">700.000đ</span>
                                        </div>
                                        <button th:data-indexItem="${product.id}" class="d-none d-lg-block" data-bs-toggle="modal" data-bs-target="#cart-modal">
                                            <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                            Mua Ngay
                                        </button>
                                        <button th:data-indexItem="${product.id}" class="d-block d-lg-none" data-bs-toggle="modal" data-bs-target="#modal-add-cart-success">
                                            <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                                            Mua Ngay
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<div th:replace="layouts/modal-cart :: modal-cart"></div>
<div th:replace="layouts/modal-add-cart-success :: modal-add-cart-success"></div>
<th:block th:insert="~{index :: body/div}"></th:block>
<th:block th:insert="~{index :: body/script}"></th:block>
<script th:src="@{~/js/pages/detail-product.js}"></script>
</body>

</html>