<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="index :: index_head"></div>
    <!--  css  -->
    <title>Giới thiệu</title>
    <!--    <link rel="stylesheet" th:href="@{~/css/components/products.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{~/css/pages/blog.css}"/>-->
</head>
<section th:replace="index :: index_body">
    <section class="text-black" id="gioi-thieu" th:fragment="content_index (type)" th:remove="${type}">

        <div class="gioi-thieu-content container px-0">
            <h3>Giới thiệu</h3>
            <p>
                <b class="text-danger">Cửa hàng mua bán linh kiện điện tử IC ĐÂY RỒI</b> được thành lập năm 2017. Nhờ sự tin tưởng và ủng hộ của Quý Khách hàng, đặc biệt là các Bạn sinh viên học sinh, cửa hàng chúng tôi luôn mong muốn đem đến sự tiện ích trong giao dịch mua bán cho Quý Khách. Với kỷ nguyên truyền thông đa phương tiện, dù ở bất cứ nơi đâu, Quý Khách hàng vẫn có thể chọn mua những sản phẩm của chúng tôi với chất lượng đồng nhất và giá cả tốt nhất qua trang web: www.icdayroi.com Hãy gọi cho chúng tôi để bạn được phục vụ tốt nhất.
            </p>
            <p>
                Cửa hàng chúng tôi chuyên kinh doanh linh kiện phụ kiện ngành điện tử, và dụng cụ trang thiết bị chuyên dụng trong ngành. Bên cạnh đó, chúng tôi còn sản xuất và kinh doanh nhiều module, kit phát triển phục vụ cho công tác nghiên cứu học tập và các loại sản phẩm, mạch điện thông minh ứng dụng trong đời sống. Ngoài ra, chúng tôi còn nhận thiết kế, đặt hàng các sản phẩm theo yêu cầu của Quý Khách, tư vấn và hỗ trợ kỹ thuật.
            </p>
            <p>
                Chân thành cảm ơn sự ủng hộ của Quý Khách.
            </p>
            <p>
                Để thuận lợi cho khách hàng khi mua hàng tại <b>cửa hàng linh kiện điện tử IC ĐÂY RỒI</b>, Quý khách có thể tự lựa chọn cho mình một trong các hình thức vận chuyển và thanh toán thích hợp sau:
            </p>
            <h5 class="fw-bold text-danger">
                <i class="me-3 fa-solid fa-angle-right"></i> Các phương thức vận chuyển
            </h5>
            <ul>
                <li class="mb-2">
                    -   Để hỗ trợ tốt nhất cho quý khách, ngoài cước phí của nhà vận chuyển, chúng tôi hoàn toàn không thu thêm bất cứ cước phí nào từ quý khách hàng. Các đơn hàng đặt hàng của quý khách trước 16h00 hàng ngày sẽ được gửi ngay trong ngày, sau khi đã hoàn tất việc xác nhận đơn hàng thành công với khách hàng qua hình thức liên lạc trực tiếp qua điện thoại.
                    <br>
                    Lưu ý: Đối với những đơn hàng chưa được xác nhận sẽ  chưa được gửi đi cho đến khi IC ĐÂY RỒI liên hệ được với khách hàng.
                </li>
                <li class="mb-2">
                    -   <b class="text-primary text-decoration-underline">Mua hàng trực tiếp tại Cửa Hàng:</b> Quý khách có thể trực tiếp đến <b>cửa hàng linh kiện điện tử IC ĐÂY RỒI</b> để xem, nhận sự tư vấn và mua hàng trực tiếp. Để đảm bảo hàng hóa cung cấp cho khách hàng mới 100%, cửa hàng không nhận đổi trả hàng hóa mong Qúy Khách thông cảm.
                </li>
                <li class="mb-2">
                    -   <b class="text-primary text-decoration-underline">Giao hàng tận nơi</b>: IC ĐÂY RỒI sẽ giao hàng đến địa chỉ Quý khách yêu cầu, khu vực TP.HCM và các Tỉnh/Thành Phố khác trên Toàn Quốc qua dịch vụ Viettel Post.
                </li>
                <li class="mb-2">
                    -   <b class="text-primary text-decoration-underline">Yêu cầu IC ĐÂY RỒI vận chuyển hàng đến nhà xe hoặc hãng vận chuyển:</b> Với hình thức này, khách hàng sẽ thanh toán trước qua ngân hàng và liên hệ trực tiếp với cửa hàng qua điện thoại, hoặc email của cửa hàng.
                </li>
            </ul>
            <p>
                Chuyển Hàng Theo COD - Giao Hàng Nhận Tiền. <br>
                Quý khách mất thêm phí dịch vụ COD theo quy định <br>
                Dịch vụ này thuận tiện , nhưng chi phí cao. <br>
            </p>
            <p class="text-danger">
                Thông tin thanh toán:
            </p>
            <p class="ms-5 text-danger">
                <span class="d-block mb-2">                - Ngân hàng VietcomBank chi nhánh Thủ Đức, TP.HCM</span>
                <span class="d-block mb-2">                Tên: Cao Thị Ngọc Nhung</span>
                <span class="d-block mb-2">                STK: 0381 000 516 975</span>
                <span class="d-block mb-2">                - Ngân hàng Vietinbank chi nhánh Bình Thới, TP.HCM</span>
                <span class="d-block mb-2">                  Tên: Bùi Xuân Quang</span>
                <span class="d-block mb-2">                STK: 105 002 822 030</span>
            </p>
            <h5 class="fw-bold text-danger">
                <i class="me-3 fa-solid fa-angle-right"></i>  Miễn phí vận chuyển khi mua hàng online
            </h5>
            <p class="ms-3">
                -   Miễn phí giao hàng <b>Toàn Quốc</b> đối với các đơn hàng của quý khách có giá trị trên <b>500.000 Đ.</b> (áp dụng cho các sản phẩm có khối lượng từ 0.5kg trở xuống và chuyễn khoản trước)
            </p>
            <p class="ms-3">
                Thời gian giao hàng: trong vòng 24h - 36h tùy theo địa chỉ của quý khách hàng. Tuy nhiên, vào thời gian cao điểm (lễ, tết, khuyến mãi,….), chúng tôi không thể giao hàng ngay nên sẽ thỏa thuận thời gian giao hàng cho Quý khách. Kính mong Quý khách thông cảm.
            </p>
            <p class="ms-3 mb-0">
                Thời gian giao hàng: từ 1-5 ngày.
            </p>
            <br>
            <br>
        </div>
    </section>

</section>

<th:block th:insert="~{index :: body/div}"></th:block>
<th:block th:insert="~{index :: body/script}"></th:block>
</html>