<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="index :: index_head"></div>
    <!--  css  -->
    <title>guide</title>
    <!--    <link rel="stylesheet" th:href="@{~/css/components/products.css}"/>-->
    <!--    <link rel="stylesheet" th:href="@{~/css/pages/detail-product.css}"/>-->
</head>
<body>
<section th:replace="index :: index_body">
    <section id="guide" th:fragment="content_index (type)" th:remove="${type}">
        <div class="container text-black px-3 mb-0 pb-3 px-sm-0">
            <h4>
                Hướng dẫn
            </h4>
            <p>
                <span class="fw-bold ">Bước 1:</span> Truy cập website và lựa chọn sản phẩm cần mua để mua hàng
            </p>
            <p>
                <b>Bước 2:</b> Click và sản phẩm muốn mua, màn hình hiển thị ra pop up với các lựa chọn sau
            </p>
            <p>
                Nếu bạn muốn tiếp tục mua hàng: Bấm vào phần tiếp tục mua hàng để lựa chọn thêm sản phẩm vào giỏ hàng
            </p>
            <p>
                Nếu bạn muốn xem giỏ hàng để cập nhật sản phẩm: Bấm vào xem giỏ hàng
            </p>
            <p>
                Nếu bạn muốn đặt hàng và thanh toán cho sản phẩm này vui lòng bấm vào: Đặt hàng và thanh toán
            </p>
            <p>
                <b>
                    Bước 3:
                </b> Lựa chọn thông tin tài khoản thanh toán
            </p>
            <p>
                Nếu bạn đã có tài khoản vui lòng nhập thông tin tên đăng nhập là email và mật khẩu vào mục đã có tài khoản trên hệ thống
            </p>
            <p>
                Nếu bạn chưa có tài khoản và muốn đăng ký tài khoản vui lòng điền các thông tin cá nhân để tiếp tục đăng ký tài khoản. Khi có tài khoản bạn sẽ dễ dàng theo dõi được đơn hàng của mình
            </p>
            <p>
                Nếu bạn muốn mua hàng mà không cần tài khoản vui lòng nhấp chuột vào mục đặt hàng không cần tài khoản
            </p>
            <p>
                <b>Bước 4:</b> Điền các thông tin của bạn để nhận đơn hàng, lựa chọn hình thức thanh toán và vận chuyển cho đơn hàng của mình
            </p>
            <p>
                <b>Bước 5:</b> Xem lại thông tin đặt hàng, điền chú thích và gửi đơn hàng
            </p>
            <p>
                Sau khi nhận được đơn hàng bạn gửi chúng tôi sẽ liên hệ bằng cách gọi điện lại để xác nhận lại đơn hàng và địa chỉ của bạn.
            </p>
            <p>
                <b>Các phương thức vận chuyển</b>
            </p>
            <p>
                -   Để hỗ trợ tốt nhất cho quý khách, ngoài cước phí của nhà vận chuyển, chúng tôi hoàn toàn không thu thêm bất cứ cước phí nào từ quý khách hàng. Các đơn hàng đặt hàng của quý khách trước 16h00 hàng ngày sẽ được gửi ngay trong ngày, sau khi đã hoàn tất việc xác nhận đơn hàng thành công với khách hàng qua hình thức liên lạc trực tiếp qua điện thoại.
            </p>
            <p>
                Lưu ý: Đối với những đơn hàng chưa được xác nhận sẽ  chưa được gửi đi cho đến khi IC ĐÂY RỒI liên hệ được với khách hàng.
            </p>
            <p>
                Nhận ship COD đối với đơn hàng trên 50.000 đ.
            </p>
            <p>
                -   <b class="text-decoration-underline">Mua hàng trực tiếp tại Cửa Hàng</b>: Quý khách có thể trực tiếp đến cửa hàng linh kiện điện tử IC ĐÂY RỒI để xem, kiểm tra sản phẩm, nhận sự tư vấn và mua hàng trực tiếp.
            </p>
            <p>
                -   <b class="text-decoration-underline">Giao hàng tận nơi</b>: IC ĐÂY RỒI sẽ giao hàng đến địa chỉ Quý khách yêu cầu, khu vực TP.HCM và các Tỉnh/Thành Phố khác trên Toàn Quốc qua dịch vụ J&T.
            </p>
            <p>
                -   <b class="text-decoration-underline">Yêu cầu IC ĐÂY RỒI vận chuyển hàng đến nhà xe hoặc hãng vận chuyển</b>: Với hình thức này, khách hàng sẽ thanh toán trước qua ngân hàng và liên hệ trực tiếp với cửa hàng qua điện thoại, hoặc email của cửa hàng.
            </p>
            <p>
                Chuyển Hàng Theo COD - Giao Hàng Nhận Tiền.
                <br>Quý khách mất thêm phí dịch vụ COD theo quy định
                <br>Dịch vụ này thuận tiện , nhưng chi phí cao.
            </p>
            <p>
                Thông tin thanh toán:
            </p>
            <p class="ms-4">
                - Ngân hàng VietcomBank chi nhánh Thủ Đức, TP.HCM
            </p>
            <p class="ms-4">
                - Tên: Cao Thị Ngọc Nhung
            </p>
            <p class="ms-4">
                - STK: 0381 000 516 975
            </p>
            <p class="ms-4">
                - Ngân hàng Vietinbank chi nhánh Bình Thới, TP.HCM
            </p>
            <p class="ms-4">
                - Tên: Bùi Xuân Quang
            </p>
            <p class="ms-4">
                - STK: 105 002 822 030
            </p>
            <p>
                <b>                Miễn phí vận chuyển khi mua hàng online
                </b>
            </p>
            <p>
                -   Miễn phí giao hàng Toàn Quốc đối với các đơn hàng của quý khách có giá trị trên 500.000 Đ. (áp dụng cho các sản phẩm có khối lượng từ 0.5kg trở xuống và chuyễn khoản trước)
            </p>
            <p>
                Thời gian giao hàng: trong vòng 24h - 36h tùy theo địa chỉ của quý khách hàng. Tuy nhiên, vào thời gian cao điểm (lễ, tết, khuyến mãi,….), chúng tôi không thể giao hàng ngay nên sẽ thỏa thuận thời gian giao hàng cho Quý khách. Kính mong Quý khách thông cảm.
            </p>
            <p>
                Thời gian giao hàng: từ 1-5 ngày.
            </p>
            <p>
                Trân trọng cảm ơn.
            </p>
        </div>
    </section>
</section>
<th:block th:insert="~{index :: body/div}"></th:block>
<th:block th:insert="~{index :: body/script}"></th:block>
</body>
</html>