<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="index :: index_head"></div>
    <!--  css  -->
    <title>Infomation sercurity</title>
    <!--    <link rel="stylesheet" th:href="@{~/css/components/products.css}"/>-->
    <!--    <link rel="stylesheet" th:href="@{~/css/pages/detail-product.css}"/>-->
</head>
<body>
<section th:replace="index :: index_body">
    <section id="infomation-security" th:fragment="content_index (type)" th:remove="${type}">
        <div class="container px-3 text-black mb-0 pb-4 px-sm-0">
            <h4>
                CHÍNH SÁCH BẢO MẬT THÔNG TIN
            </h4>
            <p class="fw-bold">
                I.    MỤC ĐÍCH VÀ PHẠM VI THU THẬP
            </p>
            <p>
                Việc thu thập dữ liệu chủ yếu trên website bao gồm: họ tên, email, điện thoại, địa chỉ khách hàng trong mục liên hệ. Đây là các thông tin mà chúng tôi cần thành viên cung cấp bắt buộc khi gửi thông tin nhờ tư vấn hay muốn mua sản phẩm và để chúng tôi liên hệ xác nhận lại với khách hàng trên website nhằm đảm bảo quyền lợi cho cho người tiêu dùng. Các thành viên sẽ tự chịu trách nhiệm về bảo mật và lưu giữ mọi hoạt động sử dụng dịch vụ dưới thông tin mà mình cung cấp và hộp thư điện tử của mình. Ngoài ra, thành viên có trách nhiệm thông báo kịp thời cho webiste chúng tôi về những hành vi sử dụng trái phép, lạm dụng, vi phạm bảo mật, lưu giữ tên đăng ký và mật khẩu của bên thứ ba để có biện pháp giải quyết phù hợp.
            </p>
            <p class="fw-bold">
                II.    PHẠM VI SỬ DỤNG THÔNG TIN
            </p>
            <p>
                Chúng tôi sử dụng thông tin thành viên cung cấp để:
                <br>-    Liên hệ xác nhận đơn hàng và giao hàng cho thành viên khi nhận được yêu cầu từ thành viên.
                <br>-    Cung cấp thông tin về sản phẩm đến khách hàng nếu có yêu cầu từ khách hàng.
                <br>-    Gửi email tiếp thị, khuyến mại về hàng hóa do chúng tôi bán.
                <br>-    Gửi các thông báo về các hoạt động trên website.
                <br>-    Liên lạc và giải quyết với người dùng trong những trường hợp đặc biệt.
                <br>-    Không sử dụng thông tin cá nhân của người dùng ngoài mục đích xác nhận và liên hệ có liên quan đến giao dịch.
                <br>-   Khi có yêu cầu của cơ quan tư pháp bao gồm: Viện kiểm sát, tòa án, cơ quan công an điều tra liên quan đến hành vi vi phạm pháp luật nào đó của khách hàng.
            </p>
            <p class="fw-bold">
                III.      THỜI GIAN LƯU TRỮ THÔNG TIN
            </p>
            <p>
                Dữ liệu cá nhân của thành viên sẽ được lưu trữ cho đến khi có yêu cầu ban quản trị hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân thành viên sẽ được bảo mật trên máy chủ của chúng tôi.
            </p>
            <p class="fw-bold">
                IV.    NHỮNG NGƯỜI HOẶC TỔ CHỨC CÓ THỂ ĐƯỢC TIẾP CẬN VỚI THÔNG TIN CÁ NHÂN
            </p>
            <p>
                Đối tượng được tiếp cận với thông tin cá nhân của khách hàng thuộc một trong những trường hợp sau:
                <br>- Nhân viên của cửa hàng
                <br>- Các đối tác có ký hợp đồng thực hiện 1 phần dịch vụ của Cửa hàng. Các đối tác này sẽ nhận được những thông tin theo thỏa thuận hợp đồng (có thể 1 phần hoặc toàn bộ thông tin tuy theo điều khoản hợp đồng) để tiến hành hỗ trợ người dùng sử dụng dịch vụ do Cửa hàng cung cấp.
            </p>
            <p class="fw-bold">
                V.    ĐỊA CHỈ CỦA ĐƠN VỊ THU THẬP VÀ QUẢN LÝ THÔNG TIN CÁ NHÂN
            </p>
            <p>
                HỘ KINH DOANH LINH KIỆN ĐIỆN TỬ IC DÂY RỒI
            </p>
            <p>
                MST 0314342572 được cấp ngày 04/11/2017 do Sở KH và ĐT TP HCM cấp
            </p>
            <p>
                Hotline: 0385593358
            </p>
            <p>
                Email: icdayroi@gmail.com
            </p>
            <p>
                Địa chỉ: 04 Đường số 7, Khu phố 3, P. Linh Trung, Q. Thủ Đức, Tp. HCM
            </p>
            <p class="fw-bold">
                VI.    PHƯƠNG TIỆN VÀ CÔNG CỤ ĐỂ NGƯỜI DÙNG TIẾP CẬN VÀ CHỈNH SỬA DỮ LIỆU CÁ NHÂN CỦA MÌNH
            </p>
            <p>
                Thành viên có quyền tự kiểm tra, cập nhật, điều chỉnh hoặc hủy bỏ thông tin cá nhân của mình bằng cách liên hệ với ban quản trị website thực hiện việc này.
                <br>Thành viên có quyền gửi khiếu nại về nội dung bảo mật thông tin đề nghị liên hệ Ban quản trị của website. Khi tiếp nhận những phản hồi này, chúng tôi sẽ xác nhận lại thông tin, trường hợp đúng như phản ánh của thành viên tùy theo mức độ, chúng tôi sẽ có những biện pháp xử lý kịp thời.
            </p>
            <p class="fw-bold">
                VII.    CƠ CHẾ TIẾP NHẬN VÀ GIẢI QUYẾT KHIẾU NẠI CỦA NGƯỜI TIÊU DÙNG
            </p>
            <p>
                + Mọi tranh chấp phát sinh giữa Cửa hàng và Người dùng sẽ được giải quyết trên cơ sở thương lượng. Trường hợp không đạt được thỏa thuận như mong muốn, một trong hai bên có quyền đưa vụ việc ra Tòa án nhân dân có thẩm quyền để giải quyết.
                <br>+ Khi không giải quyết được qua thương lượng, hòa giải như trên, bên bị vi phạm tập hợp các chứng cứ như email, tin nhắn … và liên lạc với Cửa hàng. Cửa hàng sẽ liên lạc lại với người khiếu nại để giải quyết.
                <br>+ Nếu vụ việc vượt quá thẩm quyền của mình, Cửa hàng sẽ đề nghị chuyển vụ việc cho các cơ quan chức năng có thẩm quyền. Trong trường hợp này, Cửa hàng vẫn phối hợp hỗ trợ để bảo vệ tốt nhất bên bị vi phạm.
                Thông tin cá nhân của thành viên được cam kết bảo mật tuyệt đối theo chính sách bảo vệ thông tin cá nhân. Việc thu thập và sử dụng thông tin của mỗi thành viên chỉ được thực hiện khi có sự đồng ý của khách hàng đó trừ những trường hợp pháp luật có quy định khác.
                <br>Không sử dụng, không chuyển giao, cung cấp hay tiết lộ cho bên thứ 3 nào về thông tin cá nhân của thành viên khi không có sự cho phép đồng ý từ thành viên.
                <br>Trong trường hợp máy chủ lưu trữ thông tin bị hacker tấn công dẫn đến mất mát dữ liệu cá nhân thành viên, chúng tôi sẽ có trách nhiệm thông báo vụ việc cho cơ quan chức năng điều tra xử lý kịp thời và thông báo cho thành viên được biết.
                <br>Bảo mật tuyệt đối mọi thông tin giao dịch trực tuyến của thành viên bao gồm thông tin hóa đơn kế toán chứng từ số hóa
                <br>+ Ban quản lý yêu cầu các cá nhân khi đăng ký/mua hàng phải cung cấp đầy đủ thông tin cá nhân có liên quan như: Họ và tên, địa chỉ liên lạc, email, điện thoại,…., và chịu trách nhiệm về tính pháp lý của những thông tin trên. Ban quản lý không chịu trách nhiệm cũng như không giải quyết mọi khiếu nại có liên quan đến quyền lợi của thành viên đó nếu xét thấy tất cả thông tin cá nhân của thành viên đó cung cấp khi đăng ký ban đầu là không chính xác.
            </p>
        </div>

    </section>
</section>
<th:block th:insert="~{index :: body/div}"></th:block>
<th:block th:insert="~{index :: body/script}"></th:block>
</body>
</html>