<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head >
    <!--  css  -->
    <div th:replace="index :: index_head"></div>
    <title>Liên hệ</title>
<!--    <link rel="stylesheet" th:href="@{~/css/components/products.css}"/>-->
    <link rel="stylesheet" th:href="@{~/css/pages/lien-he.css}"/>
</head>
<body>
<section th:replace="index :: index_body">
    <section id="lien-he" th:fragment="content_index (type)" th:remove="${type}">

        <div class="container  text-black">
            <h3 class="fw-bold">
                LIÊN HỆ
            </h3>
            <div class="row">
                <div class="col-12 col-md-6 mb-3">
                    <form id="form-lien-he" >
                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form4Example1">Name <span class="text-danger">*</span></label>
                            <input required type="text" id="form4Example1" class="form-control" name="name"/>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form4Example2">Email address <span class="text-danger">*</span></label>
                            <input name="email" required type="email" id="form4Example2" class="form-control" />
                        </div>

                        <!-- Message input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form4Example3">Message <span class="text-danger">*</span></label>
                            <textarea name="message" required class="form-control" id="form4Example3" rows="4"></textarea>
                        </div>

                        <!-- Checkbox -->

                        <!-- Submit button -->
                        <button type="submit" id="submbit-form-lien-he" class="btn btn-primary btn-block mb-4">Send</button>
                    </form>
                </div>
                <div class="col-12 col-md-6 mb-3">
                    <iframe class="w-100" src="https://goo.gl/maps/gLTBmthv9ouMcbuF9"></iframe>
                </div>
            </div>
        </div>
    </section>

</section>



<th:block th:insert="~{index :: body/div}"></th:block>
<th:block th:insert="~{index :: body/script}"></th:block>
<script th:src="@{~/js/pages/lien-he.js}"></script>
</body>



</html>