<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head >
    <!--  css  -->
    <div th:replace="index :: index_head"></div>
    <title>Home</title>
</head>
<section th:replace="index :: index_body">
<!-- service lazer content   -->
    <section id="service-lazer" th:fragment="content_index (type)" th:remove="${type}">
        <div class="container px-0 ">
            <div class=" text-black mb-4" >
                <a href="">Trang chủ</a>
                <i class="fs-7 mx-2 fa-solid fa-angles-right"></i>
                <span class="color-blue-light"> Cắt khắc laser</span>
            </div>
            <div class="service-lazer-main text-black">
                <h3>Cắt khắc laser</h3>
                <ul class="m-0 pb-4" >
                    <li class="mb-4">
                        <h5 class="color-blue-light fw-bold fs-4">Dịch vụ cắt laser</h5>
                        <p class="fw-bold ms-3">Kích thước tối đa có thể cắt: 100 x 75cm <br>
                            Bảng giá dịch vụ cắt chưa bao gồm mica:</p>
                        <ul class="ps-4 mb-3">
                            <li>
                                - Độ dày mica từ 1mm-3mm: 4đ/ 1mm (4.000 đ/ 1 mét)
                            </li>
                            <li>
                                - Độ dày mica từ 4mm-7mm: 7đ/ 1mm (7.000 đ/ 1 mét)
                            </li>
                            <li>
                                - Độ dày mica từ 8mm-11mm: 12đ/ 1mm (12.000 đ/ 1 mét)
                            </li>
                            <li>
                                - Độ dày mica từ 12mm-15mm: 17đ/ 1mm ( 17.000 đ/ 1 mét)
                            </li>
                        </ul>
                        <p class="fw-bold ms-3 ">
                            Qúy khách chuẩn bị file dwg, dxf, cdr, plt.., những file phần mềm Corel Draw đọc được trước khi đến cắt
                            Tối thiểu 10.000 đ chi phí cắt laser
                        </p>
                    </li>
                    <li class="mb-4">
                        <h5 class="color-blue-light fw-bold fs-4">Dịch vụ khắc laser</h5>
                        <p class="m-0 ps-3">
                            - Vui lòng gửi file cho shop qua email để được báo giá: <b>icdayroi@gmail.com hoặc qua zalo sđt 0374255776</b>
                        </p>
                    </li>
                    <li>
                        <h5 class="color-blue-light fw-bold fs-4">Bảng giá mica</h5>
                        <p class="ms-3">
                            - Độ dày mica 2mm:     42đ  / cm2
<br>
                            - Độ dày mica 3mm:     62đ  / cm2
<br>
                            - Độ dày mica 5mm:     92đ  / cm2
<br>
                            - Độ dày mica 10mm: 185đ  / cm2
                        </p>
                        <img class="ms-4 mb-3" th:src="@{~/images/lazer.webp}" alt="machine-laser"/>
                        <p class="text-danger mb-5"><b>Qúy khách lưu ý:</b> Dịch vụ cắt mica chỉ cắt cho khách trực tiếp và khách hàng chuyển khoản trước</p>
                        <p class="text-danger"> Giờ làm việc của dịch vụ cắt mica:</p>
                        <ul class="text-danger">
                            <li class="d-flex">
                                <span class="w-25">Thứ Hai</span>                	Sáng 07:30–12:00    Chiều 13:30-20:00
                            </li>
                            <li class="d-flex">
                                <span class="w-25">Thứ Ba</span>                	Sáng 07:30–12:00    Chiều 13:30-20:00
                            </li>
                            <li class="d-flex">
                                <span class="w-25">Thứ Tư</span>                	Sáng 07:30–12:00    Chiều 13:30-20:00
                            </li>
                            <li class="d-flex">
                                <span class="w-25">Thứ Năm</span>                	Sáng 07:30–12:00    Chiều 13:30-20:00
                            </li>
                            <li class="d-flex">
                                <span class="w-25">Thứ Sáu</span>                	Sáng 07:30–12:00    Chiều 13:30-20:00
                            </li>
                            <li class="d-flex">
                                <span class="w-25">Thứ Bảy</span>                	Sáng 07:30–12:00    Chiều 13:30-20:00
                            </li>
                            <li class="d-flex">
                                <span class="w-25">Chủ Nhật</span>                	Sáng 07:30–12:00    Chiều 13:30-20:00
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>
<th:block th:insert="~{index :: body/div}"></th:block>
<th:block th:insert="~{index :: body/script}"></th:block>
</html>