.header-wellcome-wrapper{
    border-bottom: 1px solid gray;
    min-height: 100%;
}
.header-wellcome-wrapper div:first-child {
    display: flex;
    align-items: center;
}
.header-wellcome-wrapper div:last-child{
    display: flex;
    justify-content: flex-end;
}
.header-wellcome-wrapper div a{
    display: inline-block;
    color: var(--gray-color);
    padding: calc(var(--p-1) - 0.5rem)  var(--p-1);
    border-right: 1px solid var(--gray-color);
}
.header-wellcome-wrapper div a:first-child{
    border-left: 1px solid var(--gray-color) ;
}
.header-wellcome-wrapper div a:hover{
    color: var(--white-color);
}
.header-wellcome-wrapper div a:nth-child(1):hover{
    background-color: var(--blue-color-dark);
}
.header-wellcome-wrapper div a:nth-child(2):hover{
    background-color: var(--blue-color-light);
}
.header-wellcome-wrapper div a:nth-child(3):hover{
    background-color: var(--orange-color);
}
.header-wellcome-wrapper div a:nth-child(4):hover{
    background-color: var(--red-color);
}
.header-main{
    padding: var(--p-1) 0;
}
.header-main-left{
    display: block;
    width: 90%;
    line-height: 70px;
}
.header-main-center{
    color: var(--blue-color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.header-main-center p{
    margin-bottom: calc(var(--m-2) - 1.5rem);
}
.header-main-center div{
    display: flex;
    position: relative;
}
.header-main-center input{
    width: 100%;
    height: 45px;
    border: 1px solid var(--blue-color-light);
    padding: 0 var(--p-1);
    outline: none;
}
.header-main-center div button{
    border: none;
    min-height: 100%;
    display: block;
    position: relative;
    left: -1px;
    width: 120px;
    padding: 0 var(--p-1);
}
.header-list-search{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: var(--white-color);
    margin-bottom: 0;
    z-index: 3;
    display: none;
}
.header-list-search li a{
    border: 1px solid #d4d4d4;
    display: block;
    color: var(--black-color);
    font-weight: bold;
    padding: 0 var(--p-0-5);

}
.header-list-search li:hover a{
    background-color: rgba(128, 128, 128, 0.2);
}
.header-list-search li a > img{
    width: 30px;

}
.header-list-search li a span:last-child{
    float: right;
    display: inline-block;
    line-height: 27px;
    color: var(--blue-color-light);
}
.header-main-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    position: relative;
}
.header-main-right > a,
.header-main-right > div{
    text-align: center;
    margin-left: var(--m-1);
    position: relative;
}
.header-main-right > a i,
.header-main-right > div > a i{
    font-size: calc(var(--fs-2) + 0.5rem);
    margin-bottom: calc(var(--m-1) - 0.5rem);
}

.header-main-right a span{
    display: block;
}
.cart-header-wrapper:hover  .cart-popup{
    display: block;
}
.cart-popup{
    position: absolute;
    top: 100%;
    right: 0;
    width: 430px;
    background-color: white;
    z-index: 4;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0,0.4);
    padding: 0 var(--p-1);
    display: none;
}
.cart-popup-content{
    max-height: 250px;
    overflow-x:hidden ;
    margin: 0 -1rem;
    margin-bottom: var(--m-1);
}
.cart-popup-content::-webkit-scrollbar {
    width: 5px;
}
.cart-popup-content::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
.cart-popup-content::-webkit-scrollbar-thumb {
    background: var(--gray-color);
    border-radius: 10px;
}
.cart-popup-content::-webkit-scrollbar-thumb:hover {
    background: var(--gray-color);
}
.cart-list-item{
    padding: var(--p-1);
    padding-bottom: 0;
}
.cart-list-item > div{
    display: flex;
    padding-bottom: var(--p-1);
    border-bottom: 1px solid;
    position: relative;
}
.cart-list-item > div > a{
    width: 30%;
}
.cart-list-item > div > a img{
    width: 80%;
    margin: 0 auto;
    display: block;
}

.cart-list-item > div > div{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.cart-list-item > div > div > *{
    margin-bottom: var(--m-0-5);
    text-align: left;
}
.cart-list-item > div > div > a{
    color: var(--black-color);
}
.cart-list-item > div > div > a:hover{
    color: var(--blue-color-light);
}
.cart-list-item > div > div > span{
    color: var(--blue-color-light);
    font-weight: bold;
}
.cart-list-item > div > div > input{
    width: 20%;
}
.cart-total-price{
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--p-1);
    align-items: center;
    border-bottom: 1px solid var(--black-color);
}
.cart-total-price span:first-child{
    color: var(--black-color);
}
.cart-total-price span:last-child{
    color: var(--blue-color-light);
    font-size: var(--fs-1-5);
}
.cart-action{
    display: flex;
    justify-content: space-between;
    padding: var(--p-1) 0;
}
.cart-action button{
    min-width: 48%;
    padding: var(--p-0-5) 0;
    border: none;
}
.cart-action button:first-child{
    background-color: var(--blue-color-light);

}
.cart-action button:last-child {
    background-color: var(--white-color);
    color: var(--blue-color-light);
    border: 1px solid var(--blue-color-light);
}
.cart-item-close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 50%;
    background-color: var(--blue-color-light);
}
.header-numbers-item{
    position: absolute;
    top: -6px;
    right: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: var(--blue-color-light);
    color: var(--white-color);
    border-radius: 50%;
}
.header-navbar{
    background-color: var(--blue-color-light);
    padding: 0.1rem 0;
    color: white;
}
.header-navbar-wrapper{
    border: 1px dashed;
}
.header-navbar .navbar{
    padding: 0;
}
.header-navbar .nav-item{
    border-right: 1px solid rgba(226,228,230,0.39) ;
}
.header-navbar .nav-item .nav-link{
    color: var(--white-color);
    padding: var(--p-1);
    cursor: pointer;
    font-weight: 700;
}
.header-navbar .nav-item:last-child{
    border: none;
}
.header-navbar .navbar-toggler{
    border: none;
    color: var(--white-color);
    padding-top: var(--p-1);
    padding-bottom: var(--p-1);
}
.header-navbar .navbar-toggler:focus{
    box-shadow: none;
}
.header-navbar-cart{
    display: none;
    position: relative;
    margin-right: var(--m-1);
}
.header-navbar-cart i{
    font-size: var(--fs-2);
}
.header-navbar-cart > div{
    position: absolute;
    top: -6px;
    right: -9px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: var(--blue-color-light);
    color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 50%;
}
.header-navbar-item{
    display: flex;
    font-size: calc(var(--fs-2) - 0.5rem);
    position: relative;
}
.header-navbar .nav-item.dropdown:hover > .dropdown-menu{
    display: block;
}
.header-navbar .navbar-expand-md .navbar-nav .dropdown-menu{
    width: 180px;
    border-radius: revert;
    border: none;
    box-shadow: 0 2px 5px -1px black;
    padding: 0;
}
.header-navbar .dropdown-menu > li{
    position: relative;
}
.header-navbar .dropdown-item{
    border-bottom: 1px dashed;
    padding: var(--p-1);
}
.header-navbar .dropdown-menu > li:last-child > .dropdown-item{
    border-bottom: none;
}
.dropdown-item-dropdown-menu{
    top: 0 !important;
    left: 100% !important;
}
.header-navbar .nav-item.dropdown > .dropdown-menu > .dropdown:hover > .dropdown-menu{
    display: block;
}

.header-research-mobile {
    display: none;
    padding-top: var(--p-1);
    position: relative;
}
.header-research-mobile > input{
    height: 45px;
    border: 1px solid var(--blue-color-light);
    padding: 0 var(--p-1);
    outline: none;
    width: 100%;
}
.header-research-mobile > button{
    border: none;
    min-height: 100%;
    display: block;
    position: relative;
    left: -1px;
    padding: 0 calc(var(--p-1) + 0.5rem);
    background-color: var(--blue-color-light);
}

@media (max-width: 991.98px) {
    .header-wellcome-wrapper{
        display: none;
    }
    .header-main-left{
        margin: 0 auto;
        width: 100%;
    }
    .header-main-center p{
        display: none;
    }
    .header-navbar-item{
        display: none;
    }
}

@media (max-width: 767.98px){
    .header-navbar-cart{
        display: block;
    }
    .header-navbar .nav-item{
        border-right: none;
        border-bottom: 1px solid var(--white-color);
    }
    .header-navbar .nav-item .nav-link{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header-navbar .nav-item .nav-link > a:hover{
        color: inherit;
    }
    .header-navbar .nav-item .nav-link:hover{
        color: var(--black-color);
    }
    .header-navbar .nav-item.dropdown:hover .dropdown-menu{
        display: none;
    }
    .header-navbar .dropdown-menu.show{
        display: block !important;
    }
    .header-navbar .navbar-nav .dropdown-menu{
        background-color: var(--blue-color-light);
        color: var(--white-color) !important;
        border: none;
        position: relative;
        width: 100% !important;
        box-shadow: none !important;
        font-size: 0.9rem;
    }

    .header-navbar .dropdown-item{
        color: var(--white-color);
        border-bottom: 1px solid var(--white-color);
        align-items: center;
        justify-content: space-between;
    }
    .header-navbar .dropdown-item:hover{
        background-color: transparent;
        color: var(--black-color);
    }
    .dropdown-item-dropdown-menu{
        position: static !important;
    }
    .header-navbar .nav-item.dropdown > .dropdown-menu > .dropdown:hover > .dropdown-menu{
        display: none;
    }
    .header-research-mobile{
        display: flex;
    }
}