.home-main-right-article{
    border-top: #2790f2 2px solid;
    border-left: #ebebeb thin solid;
    border-right: #ebebeb thin solid;
    border-bottom: #ebebeb thin solid;

}
.home-main-right-article h4{
    padding: 1rem;
    background-color: var(--white-color);
    color: var(--black-color);
    border-top: 2px solid var(--blue-color-dark);
    text-transform: uppercase;
    margin: 0;
    font-weight:bold;
    font-size: calc(var(--fs-2) - 1rem);
}
.home-main-right-article .row{
    margin-right: 0;
    margin-left: 0;
}
.home-main-right-article .row > *{
    padding: 0;
}
.home-main-product{
    font-size: var(--fs-1);
    background-color: var(--white-color);
    border: #ebebeb thin solid;
    text-align: center;
}
.home-main-product img{
    margin-bottom: var(--m-0-5);
    padding: var(--p-0-5);
}
.home-main-product  p{
    height: 41px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    margin-bottom: var(--m-0-5);
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.home-main-product > a:hover img{
    opacity: 0.5;
}
.home-main-product-price {
    min-height: 45px;
    margin-bottom: var(--m-0-5);
    font-size: var(--fs-1);
    font-weight: bold;
}
.home-main-product .home-main-product-price span{
    color: var(--blue-color-light);
    display: block;
}
span.old-price{
    color: var(--gray-color) !important;
    text-decoration: line-through;
}
.home-main-product button,
.home-main-product-style-2 button{
    border: 1px solid var(--blue-color-light);
    padding: var(--p-0-5) var(--p-1);
    display: block;
    width: 90%;
    color: var(--blue-color-light);
    background-color: var(--white-color);
    margin: 0 auto;
    margin-bottom: var(--m-0-5);
}
.home-main-product button:hover,
.home-main-product-style-2 button:hover{
    background-color: var(--blue-color-light);
    color: var(--white-color);
}
.home-main-product button i,
.home-main-product-style-2 button i{
    margin-right: var(--m-0-5);
}

.home-main-product-style-2 button{
    margin: 0;
    width: fit-content;
}